@media only screen and (max-width: 1100px){
    .bg1{
        background: url("images/bg1.jpg");

        background-size: cover;
        background-position: -140px;
    }
}

@media only screen and (max-width: 890px) {
    .bg1{
        background-position: center center;
    }

    .tag{
        justify-content: center;
        margin-right: 0%;
        width: 100%;
        text-align: center;
        padding-bottom: 10%;
        margin-top: 40%;
    }

    .tag h1{
        font-size: 4.125em;
        letter-spacing: -5px;
    }

    .about-text {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.3em;
        line-height: 1.6em;
    }

    .particle{
        text-align: right;
        margin-right: 156px;
        font-size: 1.5em;
        font-style: italic;
        font-weight: 400;
        padding-bottom: 0px;
    }
}